PRIME_IMAGE_MODEL_ID=auto
PRIME_IMAGE_DEFAULT_WIDTH=512
PRIME_IMAGE_DEFAULT_HEIGHT=512
PRIME_IMAGE_MAX_WIDTH=1024
PRIME_IMAGE_MAX_HEIGHT=1024
PRIME_IMAGE_MAX_STEPS=40
PRIME_IMAGE_HOST=127.0.0.1
PRIME_IMAGE_PORT=7861
PRIME_IMAGE_ENGINE_TOKEN=
